<div class="header__background" style="background-color: black;">
    {{>users/header}}
</div>
 <div class="loaderContainer">
        <div id="circularLoader" class="spinner-border text-primary "   role="status"></div>  
     </div>
<div id="productsContainer" class="section">
    

<div class="product__container">
    <div class="product__left">
       <div class="imageBox" onclick="viewImgFN('{{product._id}}')">
        {{#each product.images}}
               <img src="/uploads/{{this}}" alt="photo"  >
          
        {{/each}}
       
       </div>

       <div class="imageSliderBox" >
         <div class="slideshow-container" onclick="viewImgFN('{{product._id}}')">
           {{#each product.images}}
            <div class="mySlides ">
               <img src="/uploads/{{this}}"   style="width:100%">
            </div>
           {{/each}}
         
           <!-- Next and previous buttons -->
           <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
           <a class="next" onclick="plusSlides(1)">&#10095;</a>
         </div>
       
       </div>  
       <div class="contentBox">
          <h5 class="description">{{product.description}}</h5>
          <p class="fit"><span>Fit --</span> {{product.fit}}</p>
          <p class="composition"><span>Composition --</span> {{product.composition}}</p>
          <p class="artno"><span>Art.no --</span> {{product.artno}}</p>
       </div>
    </div>
   
    <div class="product__right">

        <h4 class="title">{{product.title}}</h4>
        <p class="price">Rs. {{product.price}}</p>
        <p class="color">Colour :  {{product.color}}</p>
        <p class="delevery">Delevery :  {{product.delevery}}</p>
           
            <select {{#if product.outOfDelevery}}disabled{{/if}} required id="sizeInp" name="cateogry"  >
              <option hidden value="">Select Size</option>
                {{#if product.small}}
                   <option value="small">Small</option>
                {{/if}}
                {{#if product.medium}}
                 <option value="medium">Medium</option>
                {{/if}}
                {{#if product.large}}
                <option value="large">Large</option>
                {{/if}}
                {{#if product.xl}}
                <option value="xl">Xl</option>
                {{/if}}
                {{#if product.xxl}}
                <option value="xxl">XXl</option>
                {{/if}}
                {{#if product.xxxl}}
                     <option value="xxxl">XXXl</option>
                {{/if}}
            
            </select>
            

        <button id="addBtn" onclick="addToCart('{{product._id}}')"> 
            <div id="circularLoader1" class="spinner-border text-primary" style="display: none;" role="status">
            </div>  
           <span id="addText">Add</span>
        </button>
        <div class="shareBox text-primary" onclick="shareProduct()">
            <i class="fa-solid fa-share-nodes"></i>
            share
        </div>
        {{#if product.outOfDelevery}}
           <h3 class="mt-4 text-danger">Out of delevery</h3>
           {{/if}}
    </div>
   
</div>
 <div class="alert alert-success align-items-center" id="addAlert" role="alert">
    <i class="fa-regular fa-circle-check"></i>
      Product added to the cart
  </div>
  </div>
<div id="productsContainer" class="review__container">
 {{#if review}}
 <div class="title">Reviews</div>
   {{#each review}}
    <div class="review__card">
        <div class="review">
            <div class="first">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" alt="">
                <span>{{email}}</span>
            </div>
            <p>{{this.review}}</p>
        </div>
    </div>
    {{/each}}
    {{/if}}
  </div>

  


{{>users/footer}}


<style>
    .loaderContainer{
       position: absolute;
       top: 40%;
       left: 50%;
       transform: translate(-50%,-50%);
    }
    select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    }
    .product__container{
        width: 100%;
        padding: 40px 30px;
        position: relative;
        display: flex;
        scroll-behavior: smooth;
        background-color:  rgb(250, 249, 248);
        color: rgb(0, 0, 0);
    }
    .product__left{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3px;
    }

    .product__right{
        width: 30%;
        position: sticky;
        top: 50px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 40px;
        
    }
    .product__left img{
        width: 49%;
        height: 700px;
        object-fit: cover;
        object-position: top;
        
    }
    .product__left .imageBox{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content:center ;
      
    }
    .contentBox{
        margin-top: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 250px;
        justify-content: center;
        padding: 50px;
        position: absolute;
        top: 735px;
        width: 66.1%;
    }
    .contentBox p{
        font-size: 11px;
        margin-bottom: 5px;
       
    }
    .contentBox span{
        font-size: 13px;
        font-weight: 600;

    }
    .contentBox h5{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .product__right .title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .product__right .price{
        font-size: 20px;
        margin-bottom: 20px;

    }
    .product__right .delevery{
        font-size: 16px;
        margin-bottom: 17px;
        margin-top: -7px;

    }
    .product__right .color{
        font-size: 13px;
        margin-bottom: 25px;
    }
    
    .product__right select{
        border: 1px solid rgba(0, 0, 0, 0.241);
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 5px;
        outline: none;
    }
    .product__right select option{
        color: rgba(0, 0, 0, 0.742);
        padding: 5px;
    }
    .product__right button{
        color: white;
        background-color: rgba(0, 0, 0);
        font-size: 15px;
        font-weight: 700;
        padding: 8px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
    }
   .product__left img:nth-child(2){
      margin-bottom: 280px;
   }
   .alert{
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%);
        max-width:800px;
        width: 60%;
        text-align: start;
        display: none;
    }
    .alert i{
        margin-right: 20px;
        font-size: 22px;
    }
    .review__container{
        padding: 50px;
    }
    .review__container .title{
        font-size: 22px;
        font-weight: 600;
    }
     .review .first{
        display: flex;
        gap: 5px;
        margin-bottom: 30px;
     }
    .review .first img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        
    }
    .review .first span{
        font-size: 16px;
        margin-top: 3px;
    }
    .review__card{
        background-color: white;
        padding: 15px 10px;
        margin-top: 20px;
        max-width: 900px;
    }
    .review__card p{
        font-size: 18px;
        font-weight: 500;
        margin-left: 5px;
    }
    .shareBox{
        border-radius: 20px ;
        width: 90px;
        padding: 3px 7px;
        align-items: center;
        gap: 8px;
        border: solid rgba(0, 0, 0, 0.39) 1px;
        display: flex;
        margin-top: 10px;
    }
    
    .imageSliderBox {
       width: 100%;
       height: 600px;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
       display: none;

    }
    /* Slideshow container */
    .imageSliderBox .slideshow-container {
      max-width: 1000px;
      width: 100%;
      height: 100%;
      position: relative;
      margin: auto;
      transition: .5 all ease;
    }
    
    .imageSliderBox .slideshow-container img {
        width: 100%;
        height: min-content;
        object-fit: cover;
    }
    .imageSliderBox .mySlide{
        display: flex;
        align-items: center;
        transition: .5 all ease;
    
    }
    
    /* Hide the images by default */
    
    
    /* Next & previous buttons */
    .imageSliderBox .prev, .imageSliderBox  .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      background-color: black;
    }

     /* Position the "next button" to the right */
      .imageSliderBox  .next {
        right: -50px;
        border-radius: 3px 0 0 3px;
      }
      .imageSliderBox  .prev{
          left: -50px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
     .imageSliderBox  .prev:hover, .imageSliderBox  .next:hover {
        background-color: rgba(0,0,0,0.8);
      }

    @media(max-width:1200px){
     .product__left img{
        width: 49%;
        height: 400px;
        object-fit: cover;
        
     }
     .contentBox{
        top: 435px;
    }

    }

   @media(max-width:1000px){
    .product__container{
        flex-direction: column;
        padding: 0px;
    }
     .product__left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;
        padding: 0;
    }

    .product__right{
        width: 100%;
        max-width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: -150px;
    }
     .imageSliderBox{
        display: flex;
        width: 60%;
        height: 40%;
     }
     .product__left .imageBox{
            display: none;
     }
    .contentBox{
        display: none;
    }

    }

    @media(max-width:1000px){

     .imageSliderBox .prev, .imageSliderBox  .next {
      padding: 10px;
      font-size: 14px;
     }
    }

</style>

<script>

       let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

 
    window.addEventListener('load',()=>{
       
            document.getElementById('productsContainer').style.display ='flex'
            document.getElementById('circularLoader').style.display ='none'
       
    })
   
    function  viewImgFN(proId )  {
        console.log(proId)
        location.href = '/product-image/'+proId
    }

    function changeQuantityHeader(){
         
     fetch('/cart/products-quantity')
        .then(res=>res.json())
        .then(data=>{  
           if(data.status){
            console.log(data)
             document.getElementById('numberOfProducts').innerText = data.quantity
           }
         })
    
    }

     function addToCart(id){
       
        const size  = document.getElementById('sizeInp').value
         fetch('/add-to-cart/'+id+'/'+size)
                .then(res=>res.json())
                .then(data=>{
                 
                    document.getElementById('addBtn').style.background= 'rgba(0,0,0,.1)'
                    document.getElementById('circularLoader1').style.display= 'block'
                    document.getElementById('addText').style.display= 'none'
                    document.getElementById('addBtn').disabled = true;

                    setTimeout(()=>{
                         if(data.status) {
                       document.getElementById('addBtn').style.background= 'rgba(0,0,0)'
                       document.getElementById('circularLoader1').style.display= 'none'
                       document.getElementById('addText').style.display= 'block'
                       document.getElementById('addAlert').style.display= 'block'
                    document.getElementById('addBtn').disabled = false;
                        changeQuantityHeader()
                       }
                    },1000)

                    setTimeout(()=>{
                       
                       document.getElementById('addAlert').style.display= 'none'

                    },3000)

                })
    }

    
   

   function shareProduct() {

     navigator.share({
       title: 'Web Share API Polyfill',
        text: 'A polyfill for the Share API. Use it to share in both desktops and mobile devices.',
        url: location.href,
    
        fbId: '123456789123456',
        hashtags: 'javascript,shareAPI,polyfill'
      },
      {
        // change this configurations to hide specific unnecessary icons
        copy: true,
        email: true,
        print: true,
        sms: true,
        messenger: true,
        facebook: true,
        whatsapp: true,
        twitter: true,
        linkedin: true,
        telegram: true,
        skype: true,
        pinterest: true,
        language: 'pt' // specify the default language
      }
    )
      .then( _ => console.log('Yay, you shared it :)'))
      .catch( error => console.log('Oh noh! You couldn\'t share it! :\'(\n', error));
       }
 
     

</script>